//MIXINS//
@mixin inline-block {
  display: inline-block;
}

@mixin list-style-type {
  list-style-type: none;
}

@mixin border-type {
  border: solid black 2px;
}

//BODY//
.body {
  background-color: #FFFAC1;
  padding-top: 160px;
}

//Navigation Bar Styling//

.fixed-navbar {
  position: fixed;
  top:0;
  // left: 0;
  // margin-bottom: 50px;
  // right: 0;
  // z-index: 1050;
  width: 100%;
  background: #C7C443;
}

// .navbar {
// }

.links-div {
  @include inline-block;
  width: 60%
}

.logo-design  {
  color: lightgrey;
  font-style: oblique;
  border-radius: 50%;
  background: linear-gradient(#263FE0, lightblue);
  font-size: 2em;
  @include inline-block;
  text-decoration: none;
  padding-left: 5px;
}

.nav-links {
  @include list-style-type;
  @include inline-block;
  font-size: 1.3em;
}

.logo h1{
  text-align: center;
  padding-top: 10px;
}

.login-area {
  @include inline-block;
  font-size: 1.3em;
}

.login-email {
  @include inline-block;
  padding-left: 30px;
  color: #2C4CFF;
}

.login-password {
  @include inline-block;
  color: #2C4CFF;
}

.login-button {
  @include inline-block;
  padding-left: 8px;
}

.register-button {
  @include inline-block;
}

.logout-button {
  @include inline-block;
  padding-left: 5px;
}

//Recipe HTML Styling//
.savedRecipeCard {
  @include border-type;
  width: 27%;
  @include inline-block;
}

//Create Juice HTML Styling//
.saved-fruit {
  @include border-type;
}

.fruit-list {
  @include border-type;
}

.saved-veggie {
  @include border-type;
}

.vegetable-list {
  @include border-type;
}

.ingredient-list {
  @include border-type;
}

.color-of-drink {
  width: 100px;
  height: 100px;
  @include border-type;
}

//Favorites/My Recipes Styling//
.favorite-card {
  @include border-type;
  width: 27%;
  @include inline-block;
}
