<div>
  <div>

  <h1 class="benefits-of">Benefits of Juicing</h1>
    <ul class="benefits-of-text">
      <li>You can reduce your calorie intake all the while gaining nutrients to keep you healthy</li>
      <li>Maintain or start healthy eating habits</li>
      <li>Easy way to consume fresh produce without a ton of prep time</li>
      <li>Feeds the body micronutrients to keep you on the go all day long</li>
      <li>Helps with weight loss and boost in energy</li>
      <li>Allows you to try new produce in a new and exciting way</li>
      <li>Keeps your favorite teepee company in business</li>
    </ul>
  </div>

</div>
