<div>
  <div class="create-juice">

    <h1 class="recipe-header">Create Your Own Juice</h1>
    <h2>Click boxes to select or de-select ingredients</h2>

  <!-- //Available Fruit List// -->
  <div class="saved-fruit">
    <div ng-repeat="fruitName in fruits" class="fruit-name-checkbox">
      {{fruitName.name}}
      <input
        class="checkbox"
        type="checkbox"
        name="selectedFruits[]"
        value="{{fruitName}}"
        ng-checked="selection.indexOf(fruitName) > -1"
        ng-click="toggleSelection(fruitName)">
    </div>
  </div>

  <!-- //Available Vegetable List// -->
  <div class="saved-veggie">
    <div ng-repeat="veggieName in veggies" class="veggie-name-checkbox">
      {{veggieName.name}}
      <input
        class="checkbox"
        type="checkbox"
        name="selectedVeggies[]"
        value="{{veggieName}}"
        ng-checked="selection.indexOf(veggieName) > -1"
        ng-click="toggleSelection(veggieName)">
    </div>
  </div>

  <!-- //Place where checked ingredients show up with a blank input for the amount of ounces each ingredient will use// -->
  <div>
  <h2>Ingredient List</h2>
    <div ng-repeat="ingredients in selection">
      <ul>
        <li  class="ingredient-list" ng-init="newRecipe.ingredient[$index + 1].name=ingredients.name">{{ingredients.name}} <input type="input" placeholder="enter number of ounces" ng-model="newRecipe.ingredient[$index + 1].ounces"></input></li>
      </ul>
    </div>
  </div>

    <div class="name-description">
      <div>
        <label class="name-your-drink" for="name of drink">Name your juice:</label>
        <input class="name-drink" type="text" placeholder="enter name of drink" ng-model="newRecipe.recipeName" />
      </div>

      <div>
        <label class="describe-your-juice" for="description of drink">Describe your juice:</label>
        <textarea name="" class="describe-drink" type="text" placeholder="describe your drink here" ng-model="newRecipe.description" ></textarea>
      </div>
    </div>

      <div class="add-to-favorites">
        <button ng-click="createNewRecipe()">Add to favorites</button>
      </div>

    </div>

  </div>
</div>
