<div>
  <div class="create-juice">

    <h1>Create Your Own Juice</h1>
    <h3>Click boxes to select or de-select ingredients</h3>

  <!-- //Available Fruit List// -->
  <div class="saved-fruit">
    <label ng-repeat="fruitName in fruits">
      <input class="fruit-name-checkbox"
        type="checkbox"
        name="selectedFruits[]"
        value="{{fruitName}}"
        ng-checked="selection.indexOf(fruitName) > -1"
        ng-click="toggleSelection(fruitName)"
       > {{fruitName.name}}
    </label>
  </div>

  <!-- //Available Vegetable List// -->
  <div class="saved-veggie">
    <div ng-repeat="savedVeggie in veggies">
      <div class="veggie-name">{{savedVeggie.name}}<input class="veggie-name-checkbox" type="checkbox"></div>
    </div>
  </div>

  <!-- //Recipe Build Area// -->
 <!--    <div class="build-recipe-card">
      <div class="ingredient-list">

        <div class="ingredients">
          <div>Ingredients:</div>
            <div>Carrots</div>
            <div>Apples</div>
            <div>Ginger</div>
            <div>Lemon</div>
        </div>

        <div class="amount">
          <div>Amount in ounces:</div>
            <div><input type="text" name="amount" placeholder="enter amount in ounces"></div>
            <div><input type="text" name="amount" placeholder="enter amount in ounces"></div>
            <div><input type="text" name="amount" placeholder="enter amount in ounces"></div>
            <div><input type="text" name="amount" placeholder="enter amount in ounces"></div>
          </div>
        </div>

      </div> -->

  <!-- //Submit button to create color of juice// -->
<!--       <div class="submit-for-color">
        <button>Click for color of drink</button>
      </div>

      <div class="color-of-drink">
        <div>
          Color Swatch - TBD
        </div>
      </div>
 -->
      <div class="name-drink">
        <label for="name of drink">Name your juice:</label>
        <input type="text" placeholder="enter name of drink" ng-model="newRecipe.recipeName" />
      </div>

      <div class="describe-drink">
        <label for="description of drink">Describe your juice:</label>
        <input type="text" placeholder="describe your drink here" ng-model="newRecipe.description" />
      </div>

      <div class="add-to-favorites">
        <button ng-click="createNewRecipe()">Add to favorites</button>
      </div>

    </div>

  </div>
</div>
