<div>
  <div class="create-juice">

    <h1 class="recipe-header">Modify Your Juice</h1>

  <!-- //Place where checked ingredients show up with a blank input for the amount of ounces each ingredient will use// -->
  <div>
  <h2>Ingredient List</h2>
    <div ng-repeat="ingredients in single.ingredient">
      <ul>
        <li class="ingredient-list" ng-init="ingredients.name">{{ingredients.name}}  <input class="edit-ingredient-ounces" ng-model="ingredients.ounces" type="input" placeholder="Number of ounces" ></input></li>
      </ul>
    </div>
  </div>

    <div class="name-description">
      <div>
        <label class="name-your-drink" for="name of drink">Name your juice:</label>
        <input class="name-drink" type="text" placeholder="enter name of drink" ng-model="single.recipeName" ng-init="single.recipeName" />
      </div>

      <div>
        <label class="describe-your-juice"  for="description of drink">Describe your juice:</label>
        <textarea class="describe-drink" type="text" placeholder="describe your drink here" ng-model="single.description" ng-init="single.description" />
      </div>
    </div>

      <div class="add-to-favorites">
        <button ng-click="saveChanges(single.id)">Save Changes</button>
      </div>

    </div>
  </div>
</div>

