<div>
  <div class="my-favorites">

    <h1>My Favorites</h1>

<!-- //Search by filter in favorite drinks and recipes// -->
    <div class="search-filter">
      <input type="text" placeholder="search your favorites">
    </div>

    <!-- //Div to inject favorites// -->
    <div ng-repeat="favorite in favorites" class="favorite-card">
      <div class="recipe-name">{{favorite.recipeName}}</div>

      <div class="color-swatch">
        Space for color swatch
      </div>

      <div ng-repeat="ingredient in favorite.ingredient">
        <div class="recipe-ingredient-name">{{ingredient.name}}</div>
        <div class="recipe-ingredient-amount">{{ingredient.ounces}}</div>
      </div>

      <div class="recipe-description">Description: {{favorite.description}}</div>

      <div class="edit-favorites">
        <button>Edit</button>
      </div>

      <div class="delete-favorites">
        <button ng-click="deleteFavorite(favorite.id)">Delete</button>
      </div>

    </div>

  </div>
</div>
