<div>
  <div class="my-recipes">

  <h1>My Favorites & Recipes</h1>

<!-- //Search by filter in favorite drinks and recipes// -->
  <div class="search-filter">
    <input type="text" placeholder="search your favorites">
  </div>

    <div class="favorite-card">

      <div class="recipe-name">
        Orange You Glad?
      </div>

      <div class="color-of-drink">
        Swatch
      </div>

      <div class="ingredient-list">
        <div class="ingredients">
          Carrots
          Apples
          Ginger
          Lemon
        </div>

        <div class="amount">
          4
          2
          1
          1
        </div>
      </div>

      <div class="description">
        This majestic juice is sweet and tasty with a vibrant orange hew!
      </div>

      <div class="edit-favorites">
        <button>Edit</button>
      </div>

      <div class="delete-favorites">
        <button>Delete</button>
      </div>

    </div>
  </div>
</div>
