<nav ng-controller="navbarCtrl">

  <div>

    <div class="logo">
      <div>
        <a ng-href="#/{{hash}}" title=""><img class="logo-design" src="images/jjnew.png" alt="juicy juicer"></a>
      </div>
    </div>

<!-- //Links to other views that iterate thru navItems in navbarCtrl.js// -->

    <ul ng-repeat="items in navItems" class="nav-links" >
      <li><a href="{{items.url}}">{{items.name}}</a></li>
    </ul>

<!-- //place to put user login// -->

  <div class="login-area">

      <div class="login-email">
        <label for="email">Email:</label>
        <input type="email" ng-model="email" placeholder="Enter email here" />
      </div>

      <div class="register-button">
        <button ng-click="register()">Register</button>
      </div>

    <div>

      <div class="login-password">
        <label for="password">Password:</label>
        <input type="password" ng-model="password" placeholder="Enter Password" />
      </div>

      <div class="login-button">
        <button ng-click="login()">Login</button>
      </div>

      <div class="logout-button">
        <button ng-click="logout()">Logout</button>
      </div>

    </div>


  </div>

  </div>
</nav>
