<div>
  <div class="recipes">

  <h1>Juicy Juicer Recipes</h1>

<!-- //Search by filter in recipes// -->
  <div class="search-filter">
    <input type="text" placeholder="search your favorites">
  </div>

    <div class="recipe-card">

      <div class="recipe-name">
        Orange You Glad?
      </div>

      <div class="color-of-drink">
        Swatch
      </div>

      <div class="ingredient-list">
        <div class="ingredients">
          Carrots
          Apples
          Ginger
          Lemon
        </div>

        <div class="amount">
          4
          2
          1
          1
        </div>
      </div>

      <div class="description">
        This majestic juice is sweet and tasty with a vibrant orange hew!
      </div>

      <div class="add-to-favorites">
        <button>Add to favorites</button>
      </div>

    </div>

  </div>
</div>
