<div>
  <div class="recipes">

    <h1>Juicy Juicer Recipes</h1>

<!-- //Search by filter in recipes// -->
    <div class="search-filter">
      <input type="text" placeholder="search your favorites">
    </div>

<!-- //Injected recipes from firebase in to this div// -->

    <div ng-repeat="savedRecipe in recipes">
      <div class="recipe-name">
        <div>{{savedRecipe.recipeName}}</div>
            <div ng-repeat="ingredient in savedRecipe.ingredient">
                <div class="recipe-ingredient-name">{{ingredient.name}}</div>
                <div class="recipe-ingredient-amount">{{ingredient.ounces}}</div>
            </div>
       <!--  <div class="recipe-ingredient-name">{{savedRecipe.ingredient2.name}}</div>
 -->        <!-- <div class="recipe-ingredient-amount">{{savedRecipe.ingredient2.ounces}}</div>
        <div class="recipe-ingredient-name">{{savedRecipe.ingredient3.name}}</div>
        <div class="recipe-ingredient-amount">{{savedRecipe.ingredient3.ounces}}</div>
        <div class="recipe-ingredient-name">{{savedRecipe.ingredient4.name}}</div>
        <div class="recipe-ingredient-amount">{{savedRecipe.ingredient4.ounces}}</div>
        <div class="recipe-ingredient-name">{{savedRecipe.ingredient5.name}}</div>
        <div class="recipe-ingredient-amount">{{savedRecipe.ingredient5.ounces}}</div>
        <div class="recipe-ingredient-name">{{savedRecipe.ingredient6.name}}</div>
        <div class="recipe-ingredient-amount">{{savedRecipe.ingredient6.ounces}}</div>
        <div class="recipe-ingredient-name">{{savedRecipe.ingredient7.name}}</div>
        <div class="recipe-ingredient-amount">{{savedRecipe.ingredient7.ounces}}</div>
        <div class="recipe-ingredient-name">{{savedRecipe.ingredient8.name}}</div>
        <div class="recipe-ingredient-amount">{{savedRecipe.ingredient8.ounces}}</div> -->

        <div class="recipe-description">Description: {{savedRecipe.description}}</div>

        <div class="add-to-favorites">
          <button ng-click="createRecipeFavorite($index)">Add to favorites</button>
        </div>

      </div>
    </div>
  </div>
</div>
