<div>
  <div class="splash">

    <div class="story-of">
      <h1>The Story of Juicy Juicer</h1>
    </div>

    <div class="story-text">The Juicy Juicer was created for people who either enjoy a healthy lifestyle or who'd like to enter in to one. Here at the Juicy Juicer we strive for excellent juicing recipes that fill the needs of our members. Juicing can be a daunting and difficult task but with our simple recipes and descriptions even the novice can start off and gain traction in to the juicing world.</div>

    <div>
      <h2 class="how-to">How to get around Juicy Juicer</h2>
      <ul class="how-to-text">
        <li>Clicking on the Juicy Juicer link at the top takes you back to this page</li>
        <li>The benefits link will take you to a list of why it's beneficial and healthy to juice</li>
        <li>When you click on recipes you will be transported to a page full of wonderful and tasty recipes for you to choose from. It will tell you the ingredients and how many ounces of each you'll need to make these awesome juices.</li>
        <li>If you're feeling juicy, click on the create juice link and start creating your own recipes. You have a list of 20 different types of fruits and vegetables to choose from. Click on them, fill in the amount of ounces you're going to use, give your juice a name and a description, click add to favorites and you're on your way to making your own little library of juices.</li>
        <li>The last link is my favorites. Here you can store recipes from our list that you like or ones that you've created on your own. You'll have the ability to edit or delete any of these favorites at any time.</li>
      </ul>
    </div>

  </div>
</div>
