.navbar {
  background: lightgrey; }

.links-div {
  display: inline-block;
  width: 60%; }

.logo-design {
  border-radius: 50%;
  height: 120px;
  width: 120px; }

.nav-links {
  list-style-type: none;
  display: inline-block; }

.logo {
  display: inline-block; }

.login-area {
  display: inline-block; }

.login-email {
  display: inline-block; }

.login-password {
  display: inline-block; }

.login-button {
  display: inline-block; }

.register-button {
  display: inline-block; }

.logout-button {
  display: inline-block; }

.recipe-card {
  border: solid black 2px;
  width: 27%;
  display: inline-block; }

.fruit-list {
  border: solid black 2px; }

.fruit-checkbox {
  list-style-type: none; }

.vegetable-list {
  border: solid black 2px; }

.vegetable-checkbox {
  list-style-type: none; }

.ingredient-list {
  border: solid black 2px; }

.color-of-drink {
  width: 100px;
  height: 100px;
  border: solid black 2px; }

.favorite-card {
  border: solid black 2px;
  width: 27%;
  display: inline-block; }
