.body {
  background-color: #FFFAC1;
  padding-top: 160px; }

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(#BE0000, #FFFAC1); }

.links-div {
  display: inline-block;
  width: 60%; }

.logo-design {
  color: lightgrey;
  font-style: oblique;
  border-radius: 50%;
  background: linear-gradient(#263FE0, lightblue);
  font-size: 2em;
  display: inline-block;
  text-decoration: none;
  padding-left: 5px; }

.nav-links {
  list-style-type: none;
  display: inline-block;
  font-size: 1.1em; }

.logo h1 {
  text-align: center;
  padding-top: 10px; }

.login-area {
  display: inline-block;
  font-size: 1.1em;
  float: right;
  margin-right: 8%; }

.login-email {
  display: inline-block;
  padding-left: 25px;
  color: #2C4CFF; }

.login-password {
  display: inline-block;
  color: #2C4CFF; }

.login-button {
  display: inline-block;
  padding-left: 8px; }

.register-button {
  display: inline-block; }

.logout-button {
  display: inline-block;
  padding-left: 5px; }

.story-of {
  color: #A50000;
  font-style: italic;
  margin-left: 10%; }

.story-text {
  margin-left: 10%;
  width: 50%;
  font-size: 1.25em;
  color: #880000;
  font-family: Optima, Segoe,  'Segoe UI', Candara, Calibri, Arial, sans-serif;
  text-align: justify; }

.how-to {
  margin-left: 30%;
  color: #BE0000;
  font-style: italic; }

.how-to-text {
  margin-left: 30%;
  width: 60%;
  font-size: 1.1em;
  font-family: Optima, Segoe,  'Segoe UI', Candara, Calibri, Arial, sans-serif;
  color: #BE0000;
  text-align: justify; }

.how-to-text li {
  padding-bottom: 10px; }

.benefits-of {
  color: #A50000;
  font-style: italic;
  margin-left: 10%; }

.benefits-of-text {
  margin-left: 10%;
  width: 50%;
  font-size: 1.25em;
  color: #880000;
  font-family: Optima, Segoe,  'Segoe UI', Candara, Calibri, Arial, sans-serif;
  text-align: justify; }

.recipe-header {
  color: #A50000;
  font-style: italic;
  margin-left: 10%;
  text-align: center;
  margin-left: 0; }

.search-filter {
  text-align: center;
  margin: 0 0 20px; }

.savedRecipeCard {
  border: solid black 2px;
  width: 27%;
  display: inline-block;
  margin: 1% 2%;
  height: 300px; }

.recipe-name {
  text-align: center;
  font-size: 1.5em;
  color: #5E36A3;
  padding: 10px; }

.ingredient {
  display: inline-block;
  margin-left: 5%;
  color: #A52A2F; }

.ounces {
  display: inline-block;
  float: right;
  margin-right: 5%;
  color: #A52A2F; }

.ingredient-ounces {
  height: 125px;
  width: 100%;
  overflow: auto; }

.recipe-ingredient-name {
  display: inline-block;
  margin-left: 7%;
  color: #5E36A3; }

.recipe-ingredient-amount {
  display: inline-block;
  float: right;
  margin-right: 9%;
  color: #5E36A3; }

.recipe-description {
  margin: 15px 0 20px 15px;
  overflow: auto;
  height: 45px;
  width: 90%;
  color: #A52A2F; }

.add-to-favorites {
  text-align: center; }

.add-to-favorites button {
  background-color: #256D33;
  color: #FFFAC1; }

.saved-fruit {
  border: solid black 2px;
  width: 80%;
  margin-left: 10%;
  padding: 10px; }

.fruit-name-checkbox {
  display: inline-block;
  width: 200px;
  color: #342649; }

.checkbox {
  float: left; }

.fruit-list {
  border: solid black 2px; }

.saved-veggie {
  border: solid black 2px;
  width: 80%;
  margin-left: 10%;
  padding: 10px; }

.veggie-name-checkbox {
  display: inline-block;
  width: 200px;
  color: #342649; }

.vegetable-list {
  border: solid black 2px; }

.ingredient-list {
  list-style-type: none;
  margin-left: 40%; }

.name-description {
  width: 70%;
  margin-left: 15%; }

.name-your-drink, .describe-your-juice {
  color: #880000;
  font-size: 1.1em;
  margin-right: 5px; }

.name-drink {
  margin-left: 18px;
  width: 80%; }

.describe-drink {
  width: 80%;
  height: 60px;
  margin-top: 5px; }

.create-juice h2 {
  color: #A50000;
  font-style: italic;
  text-align: center; }

.get-favorites {
  float: left;
  margin-left: 5%; }

.get-favorites button {
  background-color: #256D33;
  color: #FFFAC1; }

.delete-favorites {
  float: right;
  margin-right: 5%; }

.delete-favorites button {
  background-color: #256D33;
  color: #FFFAC1; }
